<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <h1>3D Structural Image</h1>

  <object data="html/3d_brain.html">
    Your browser doesn't support the object tag.
  </object>

  <h1>Mean FMRI</h1>

  <object data="html/4d_brain.html">
    Your browser doesn't support the object tag.
  </object>

</body>
</html>