<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>
  <h3>Brain Images</h3>
  <p>I participated in a neuroimaging research study for the Memory and Aging Lab at the Center for Advanced Brain Imaging. 
      Many thanks to Dr. Duarte for allowing me to retrieve these brain scans conducted during the study.
      I plan on incorporating these into a machine learning project centered around fMRI encodings.
  </p>
  <div id="wrapper">
      <div id="left">
        <h5>3D Structural</h5>
        <object class="brain" data="html/3d_brain.html">
          Your browser doesn't support the object tag.
        </object>
      </div>
      <div id="right">
        <h5>Mean FMRI</h5>
        <object class="brain" data="html/4d_brain.html">
          Your browser doesn't support the object tag.
        </object>
      </div>
  </div>
</body>
</html>