<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>
  <div id="wrapper">
      <div id="left">
        <h5>3D Structural</h5>
        <object class="brain" data="html/3d_brain.html">
          Your browser doesn't support the object tag.
        </object>
      </div>
      <div id="right">
        <h5>Mean FMRI</h5>
        <object class="brain" data="html/4d_brain.html">
          Your browser doesn't support the object tag.
        </object>
      </div>
  </div>
  <h3>Brain Images</h3>
  <p>I participated in a neuroimaging research study and retrieved these images, thanks to the Center for Advanced Brain Imaging at Georgia Tech.
      I plan on incorporating these into a machine learning project centered around fMRI encodings.
  </p>
</body>
</html>