<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Sahil Arora</h1>
      <p>I'm currently a BS/MS Computer Science student at Georgia Tech slated to graduate in May 2021. Seeking an internship this summer.</p>
      <p> 
        <div class="content">
        <a class="contact-icon-link" href="https://www.linkedin.com/in/sahilarora3/" target="_blank">
          <i class="contact-icon fa fa-linkedin-square"></i>
        </a>
        <a class="contact-icon-link" href="https://github.com/arolihas" target="_blank">
          <i class="contact-icon fa fa-github-square"></i>
        </a>
      </div></p>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/Sahil.jpg" />
      <p>Passionate about the applications of AI to healthcare. Built convolutional neural networks at Merck this past summer. Experience in web development, data analytics, and software engineering. Currently working on a mobile app and machine learning research into adhesion curves.</p>
      <div class="contact-container">
       
      </div>
    </div>
  </main>

</body>
</html>
